.App {
  text-align: center;
}

.App-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.App-header-title-link {
  color: var(--dark-color);
  text-decoration: none;
}

.App-header-title,
.App-social {
  font-size: 1.5rem;
}

.App-main {
  background-color: var(--dark-color);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.App-main-title {
  font-family: 'Cinzel', serif;
  font-size: calc(10px + 10vmin);
}

.App-link {
  color: var(--link-color);
}

.App-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 10vh;
  color: black;
}

.App-description-title {
  text-align: center;
  font-size: 3rem;
}

.App-description-background-image {
  background-image: url('https://raw.githubusercontent.com/software-lemox/software-lemox.github.io/refs/heads/main/public/screenshots/screenshot_20250629_215025.png');
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  color: white;
}

.App-description-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-description-section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-description-sub-title {
  font-style: italic;
  text-align: center;
  padding: 0 20vw;
  font-size: 2rem;
  color: var(--grey-color);
}

.App-description-text {
  max-width: 20vw;
  font-size: 1.2rem;
  text-align: justify;
}

.App-description-inner {
  padding: 0 2vw;
}

.App-steam-icon {
  background-image: url('https://images.squarespace-cdn.com/content/5eb98d54a2c9a8275e6de2ab/7a4a67bc-dd7b-4acb-823f-7870d3050174/Steam+Logo+-+White.png?content-type=image%2Fpng');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 200px;
  display: inline-block;
}

.App-newsletter {
  padding: 100px 30vh;
}

.App-newsletter-email {
  padding: 0 15%;
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
}

.App-newsletter-email-message {
  font-style: italic;
  margin: 0;
  color: var(--grey-color);
}

.App-newsletter-email-input {
  height: 50px;
  text-align: center;
  font-size: 1rem;
}

.App-newsletter-email-button {
  font-size: 1rem;
  background-color: var(--dark-color);
  color: white;
  border-radius: none;
  border: none;
}

.App-newsletter-email-button:hover {
  cursor: pointer;
  background-color: var(--grey-color);
}