.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.App-header-title,
.App-social {
  font-size: 2rem;
}

.App-main {
  background-color: #0a0b20;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main-title
{
  font-family: 'Cinzel', serif;
  font-size: calc(10px + 10vmin);
}

.App-link {
  color: #61dafb;
}
